* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

body {
    background-color: #fffef3;

}

#siteHeader {
   position: static;
   border: 0px solid #171717;
   /* border-bottom-width: 0.5px; */
   box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.15);
}

.hContainer {
    height: auto;
    display: flex;
    align-items: center;
    padding: 0px 30px 0px 30px;
}
.mainPaigeLink {
    margin: 25px 0px 21px 0px;
}
.cIcon {
    width: 150px;
    height: 18px;
}

.headCentre {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    width: 100%;
}
.headCentreLinks {
    margin-right: 25px;
}
.headCentreLinks a {
    font-size: 17px;
    color: #171717;
    text-decoration: none;
}
.btnCntct {
    margin-left: 30px;
}
.headSearch {
    position: relative;
}
.inpSearch {
    padding: 5px 30px 5px 15px;
    font-size: 17px;
    border: 1px solid #171717;
    border-radius: 7px;
    
}

.imgSearch img {
    position: absolute;
    top: 26%;
    left: 90%;
    width: 15px;
    
}

.centreButtons {
    display: flex;
    padding-top: 3px;
    margin: 0px 25px 0px 25px;
}

.btnHead {
    display: inline-block;
    background-color: #fffef3;
    border: none;
    /* margin: 0px 25px 0px 0px; */
    cursor: pointer;
}
.btnHead:hover {
    transition-duration: 0.15s;
    transform: scale(0.9);
}

.icFav {
    content: url(/img/icons/heart.png);
    width: 25px;
}

.icLgj {
    content: url(/img/icons/brit2.png);
    width: 24px;
    margin: 0px 20px 0px 19px;
}

.icBsk {
    content: url(/img/icons/basket.png);
    width: 25px;
}



.conorButtons {
    display: flex;
    padding-left: 25px;
    box-shadow: -1px 0px 0.001px #171717;
    align-items: center;
    justify-content: flex-end;   
}
.conorButtons button {
    border: 1px solid #171717;
    width: 105px;
    border-radius: 7px;
    font-size: 17px;
    padding: 5px 25px 5px 25px;
    /* box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2); */
}
.conorButtons button:hover {
    transition-duration: 0.15s;
    transform: scale(0.97);
    box-shadow: none;
}
.btnSign {
    background-color: #fffef3;
    margin-right: 10px;
}
.btnLog {
    color: #fffef3;
    background-color: #0d0d0d;
}
/* ---------------------------------------CENTRE---------------------------------- */
.divCentre {
    display: block;
    position: relative;
}

.mainImg {
    display: inline-block;
    margin: 80px 0px 0px 100px;
}
.mainImg img {
    margin-left: auto;
    margin-right: auto;
    width: 450px;
    overflow: hidden;
}

.rightCentre {
    display: inline-block;
    width: 600px;
    position: relative;
    bottom: 50px;
    left: 80px;
}


.rightCentre .headName {
    margin: 0px 0px 30px 0px;
    color: #171717;

}
h1 {
    font-size: 85px ;
    margin: 0px 0px 0px 0px;
    text-shadow: -4px 5px 10px rgba(0, 0, 0, 0.3);
}
h2 {
    font-size: 30px ;
    padding-left: 4px;
    text-shadow: -4px 5px 10px rgba(0, 0, 0, 0.3);
}

.textP {
    display: block;
    max-height: 200px;
    width: 500px;

}
p {
    color: #171717;
    border: 1px solid rgba(0, 0, 0, 0);
}
.btnToShop {
    margin-top: 30px;
}
.btnToShop button {
    background-color: #fffef3;
    border: 2px solid #171717;
    width: 300px;
    border-radius: 10px;
    font-size: 20px;
    padding: 15px 25px 15px 25px;
    /* box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.25); */
}

.btnToShop button:hover {
    transition-duration: 0.25s;
    /* transform: scale(0.97); */
    box-shadow: none;   
    background-color: #171717;
    color: #fffef3;

}

.inpu {
    width: 300px;
    font-size: 16px;
    padding: 10px 10px 10px 15px;
    border: 1.5px solid black;
    border-radius: 50px;
}

/* -----------------------MODAL BOX----------------- */

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.702);
}

.modalWindow {
    /* display: none; */
    max-width: 400px;
    margin: 50px auto;
    z-index: 1001;
    border: 0px solid black;
    border-radius: 4px;
    box-shadow: 0px 2px 40px rgba(0, 0, 0, 0.377);
}

.modalContent {
    position: relative;
    width: 100%;
    padding: 35px;
    background-color: #171717;
    border: 0px solid #fffef300;
    border-radius: 4px;
    max-height: 80vh;
    overflow-y: auto;
}


.modalClose {
    color: #fffef3;
    position: absolute;
    top: 10px;
    left: 370px;
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
    opacity: 0.9;
}
.modalClose:hover {
    transition-duration: 0.2s;
    transform: scale(1.2);
}
.modalTitle {
    text-align: center;
    font-size: 24px;
    color: #fffef3;
    text-transform: uppercase;
}

.modalInpOne {
    display: block;
    margin: 25px auto 5px auto;
}

.modalInpTwo {
    display: block;
    margin: 15px auto 15px auto;
}

.modalBtn {
    display: block;
    background-color: #0d0d0d;
    color: #fffef3;
    font-size: 20px;
    width: 300px;
    border: 0.5px solid #fffef3;
    border-radius: 50px;
    box-shadow: 0px 0px 5px hsla(0, 0%, 86%, 0.3);
    margin: 10px auto;
    padding: 8px 10px;
}
.modalBtn:hover {
    transform: scale(0.98);
    transition-duration: 0.15s;
    box-shadow: none;
}

.register {
    display: block;
    font-size: 15px;
    text-transform: none;
    margin: 20px 15px 0px 15px;

}

.register a{
    color: #eeeeee;
    margin-right: 4px;
}

.show{
    display: block;
}
.hide{
    display: none;
}

/* -----------------------------Modal Sign----------------- */

.modalWindowSgn {
    max-width: 400px;
    margin: 50px auto;
    z-index: 1001;
    border: 0px solid black;
    border-radius: 4px;
    box-shadow: 0px 2px 40px rgba(0, 0, 0, 0.377);
}

.modalContentSgn {
    position: relative;
    width: 100%;
    padding: 35px;
    background-color: #fffef3;
    border: 0px solid #171717;
    border-radius: 4px;
    max-height: 80vh;
    overflow-y: auto;
}


.modalCloseSgn {
    color: #0d0d0d;
    position: absolute;
    top: 10px;
    left: 370px;
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
    opacity: 0.9;
}
.modalCloseSgn:hover {
    transition-duration: 0.2s;
    transform: scale(1.2);
}

.modalTitleSgn {
    text-align: center;
    font-size: 24px;
    color: #0d0d0d;
    text-transform: uppercase;
}

.shadowOne:hover {
    box-shadow: 0px 0px 5px rgba(13, 13, 13, 0.4);
}
.modalInpOneSgn {
    display: block;
    margin: 25px auto 5px auto;
}
.modalInpTwoSgn {
    display: block;
    margin: 15px auto 15px auto;
}
.modalInpThreeSgn {
    display: block;
    margin: 15px auto 15px auto;
}

.modalBtnSgn {
    display: block;
    background-color: #0d0d0d;
    color: #fffef3;
    font-size: 20px;
    width: 300px;
    border: 0px solid #fffef3;
    border-radius: 50px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
    margin: 10px auto;
    padding: 8px 10px;
}
.modalBtnSgn:hover {
    transform: scale(0.98);
    transition-duration: 0.15s;
    box-shadow: none;
}

.toLogInSgn{
    display: block;
    font-size: 15px;
    text-transform: none;
    margin: 20px 15px 0px 15px;

}

.toLogInSgn a{
    color: #0d0d0d;
    margin-right: 4px;
}