* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

body {
    background-color: #0d0d0d;

}

#siteheader {
   position: static;
   border: 0px solid #dcdcdc;
   border-bottom-width: 1px;
}

.h-container {
    max-width: 1440px;
    height: 65px;
    display: flex;
    align-items: center;
    padding: 0px 30px 0px 30px;
}

#siteheader .mainpaigelink {
    display: block;
    overflow:hidden;
    position: relative;
    height: 65px;
}

#siteheader .mainpaigelink .c-icon {
    display: flex;
    margin-top: 23px;
    width: 150px;
    
}
.conor-buttons {
    display: flex;
    margin-left: auto;
    align-items: center;
    justify-content: flex-end;   
}
.conor-buttons button {
    border: 0.5px solid #dcdcdc;
    border-radius: 5px;
    font-size: 17px;
    padding: 5px 25px 5px 25px;
    box-shadow: 0px 3px 2px rgba(255, 255, 255, 0.108);
}
.conor-buttons button:hover {
    transform: 0.3s;
    transform: scale(0.97);
    box-shadow: none;
}
.btn-sign {
    background-color: #ededed;
    margin-right: 10px;
}
.btn-log {
    color: #ededed;
    background-color: #0d0d0d;
    margin-right: 10px;
}
/* ---------------------------------------CENTRE---------------------------------- */
.div_centre {
    display: block;
    position: relative;
}

.mainimg {
    display: inline-block;
    height: 650px;
    margin: 30px 0px 0px 130px;
}
.mainimg img {
    margin-left: auto;
    margin-right: auto;
    width: 450px;
    overflow: hidden;
}

.rightcentre {
    display: inline-block;
    width: 600px;
    position: relative;
    bottom: 85px;
    left: 70px;
}


.rightcentre .headname {
    margin: 0px 0px 50px 0px;
    color: #dcdcdc;

}
h1 {
    font-size: 65px ;
    margin: 0px 0px 0px 0px;
}
h2 {
    font-size: 30px ;
    margin: 0px 0px 0px 0px;
}


p {
    margin: 0px 0px 0px 0px;
    color: #dcdcdc;
    overflow: scroll;
    border: 1px solid rgba(0, 0, 0, 0);
    display: block;
    width: 500px;
    height: 150px;
}

.in {
    color: #dcdcdc;
    margin-top: 40px;

}

.inpu {
    width: 300px;
    font-size: 16px;
    padding: 10px 10px 10px 15px;
    margin-top: 20px;
    border: 1px solid black;
    border-radius: 50px;
}